@font-face {
  font-family: "Barlow-Regular";
  src: url(/fonts/Barlow-Regular.ttf);
}

.image {
  max-width: 400px;
  max-height: 400px;
}

.text {
  width: 1200px;
  display: grid;
  align-items: baseline;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 70px;
}

.link:hover {
  transition: 1s;
  color: #daba027b;
}

@media only screen and (max-width: 480px) {
  .image {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 0px;
  }

  .text {
    height: 290px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
