@import "../../variables.scss";

@font-face {
  font-family: "Barlow-Regular";
  src: url(/fonts/Barlow-Regular.ttf);
}

.image {
  border-radius: 50%;
  width: 120%;
  height: 120%;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  background-color: $boxes-background-color;
  font-family: "Barlow-Regular";
  color: $main-color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logos {
  display: flex;
  flex-direction: column;
  height: 430px;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.link:hover {
  border: solid 2px;
  border-color: $main-color-red;
  color: $main-color-red;
  margin-top: 16px;
}

@media only screen and (max-width: 700px) {
  .image {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 0px;
  }

  .text {
    height: 600px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link {
    text-decoration: none;
    color: $main-color-red;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .secondColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .logos {
    display: flex;
    flex-direction: row;
    height: 600px;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
