@import "../../variables.scss";

.date {
  font-family: "Barlow-Regular";
  font-size: 15px;
  color: $main-color-dark;
  margin: 0;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .date {
    font-family: "Barlow-Regular";
    font-size: 15px;
    color: $main-color-dark;
    margin: 0;
    text-align: left;
  }
}
