@font-face {
	font-family: 'Barlow-Regular' ;
	src: url(/fonts/Barlow-Regular.ttf);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: var(--main-color);
    font-family: "BraahOne-Regular";
    font-size: 110px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1100px;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.text {
    height: 400px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe {
    font-family: "Barlow-Regular";
    font-size: 25px;
    color:  rgb(0, 0, 55);
    margin: 0;
    padding: 30px;
    
}

.box {
    background-color: rgba(255, 253, 229, 0.277);
    border-color: var(--main-color);
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
}

