@font-face {
	font-family: 'Barlow-Regular' ;
	src: url(/fonts/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Barlow-Medium';
    src: url(/fonts/Barlow-Medium.ttf);
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header {
    color: var(--main-color);
    font-family: "BraahOne-Regular";
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-top: 40px;
    margin-bottom: 160px;
    justify-content: center;
    width: 1000px;
}

a {
    text-decoration: none;
}


