@font-face {
  font-family: "Barlow-Regular";
  src: url(/fonts/Barlow-Regular.ttf);
}
@font-face {
  font-family: "Barlow-Medium";
  src: url(/fonts/Barlow-Medium.ttf);
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 50px;
  margin-bottom: 160px;
  justify-content: center;
  width: 1000px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1260px) {
  .logos {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 0px;
    margin-bottom: 200px;
    justify-content: center;
    width: 350px;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
}
