.card {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  align-items: center;
  width: 96vw;
}

// @media screen and (min-width: 1600px) {
//   .card {
//     height: 100vh;
//   }
// }
