.item1-about {
  text-align: justify;
  width: 520px;
  height: 260px;
}

.item1-work {
  text-align: left;
  width: 600px;
  height: 100%;
}
.item2-work {
  text-align: left;
  width: 600px;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .item1 {
    text-align: justify;
    width: 400px;
    align-items: left;
    justify-content: baseline;
  }
  .item2 {
    text-align: left;
    align-items: left;
  }

  .item3 {
    align-items: baseline;
    text-align: left;
  }
}
