.item1-about {
  text-align: justify;
  width: 520px;
  height: 260px;
}

.item1-work {
  text-align: left;
  width: 600px;
  height: 100%;
}
.item2-work {
  text-align: left;
  width: 600px;
  height: 100%;
}

@media only screen and (max-width: 1260px) {
  .item1-about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 400px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
  }
  .item2-work {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 400px;
  }

  .item1-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 400px;
  }
}
