@import "../../variables.scss";

.link {
  text-decoration: none;
  color: $main-color-grey;
  margin: 0px;
  font-family: "Barlow-Regular";
  position: relative;
}

.link::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: $main-color-red;
  overflow: hidden;
  text-decoration: underline $main-color-grey 2px;
  width: 0;
  transition: 0.5s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

.active {
  text-decoration: none;
  color: $main-color-red;
  text-decoration: underline $main-color-grey 2px;
}

@media only screen and (max-width: 700px) {
  .link {
    color: $main-color-grey;
    margin: 10px 10px;
    padding: 5px 15px;
    font-family: "Barlow-Regular";
    text-decoration: underline $main-color-red 1px;
  }

  .link::before {
    display: none;
  }
  .active {
    text-decoration: none;
    color: $main-color-red;
    margin: 10px 10px;
    padding: 5px 15px;
    text-decoration: underline $main-color-grey 2px;
  }
}
