.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1000px;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: var(--main-color);
    font-family: "BraahOne-Regular";
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 15px; 
}


.logos {
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;    
}

.logo {
    svg {
        fill: var(--main-color);
        width: 100px;
        height: 100px;
    }
}

.logo:hover {
    svg {
        fill: #daba0291;
        transition: 1s;
    }

}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.project {
    margin-bottom: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

img {
    border-radius: 50px;
    width: 400px;
}


