@font-face {
  font-family: "Barlow-Light";
  src: url(/fonts/Barlow-Light.ttf);
}

@font-face {
  font-family: "Barlow-Regular";
  src: url(/fonts/Barlow-Regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Barlow-Light";
  text-align: center;
  padding-left: calc(100vw - 100%);
  background-color: #cdb797;
  min-height: 100vh;
  margin: 0px;
  overflow-x: hidden;
}
