@import "../../variables.scss";

.header-about {
  color: $main-color-red;
  font-family: "BraahOne-Regular";
  font-size: 40px;
  margin-bottom: 20px;
  text-justify: auto;
}

.header-contact {
  color: $main-color-red;
  font-family: "BraahOne-Regular";
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header-home {
  color: $main-color-red;
  text-align: left;
  font-family: "BraahOne-Regular";
  font-size: 80px;
  margin-top: 15px;
  width: 650px;
  font-weight: 600;
}

.header-work {
  color: $main-color-red;
  font-family: "BraahOne-Regular";
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 15px;
}

@media only screen and (max-width: 700px) {
  .header-about {
    color: $main-color-red;
    font-family: "BraahOne-Regular";
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .header-contact {
    color: $main-color-red;
    font-family: "BraahOne-Regular";
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .header-home {
    color: $main-color-red;
    font-family: "BraahOne-Regular";
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 330px;
    text-align: center;
  }

  .header-work {
    color: $main-color-red;
    font-family: "BraahOne-Regular";
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 40px;
  }
}
