@font-face {
    font-family: 'BraahOne-Regular';
    src: url(/fonts/BraahOne-Regular.ttf);
}

@font-face {
    font-family: 'BraahOne-Medium';
    src: url(/fonts/BraahOne-Medium.ttf);
}

.box {
    background-color: rgba(255, 253, 229, 0.277);
    border-color: var(--main-color);
    border-radius: 50px;
    border-style: solid;
    border-width: 6px;
}

.text {
    font-family: "Barlow-Regular";
    font-size: 22px;
    color:  rgb(8, 8, 145);
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: "Barlow-Medium";
    font-size: 27px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -10px;
    color:  rgb(20, 10, 159);

}
