@import "../../variables.scss";

@font-face {
  font-family: "Barlow-Medium";
  src: url(/fonts/Barlow-Medium.ttf);
}

.copyright-work {
  color: #cdb797;
  font-family: "Barlow-Medium";
  position: relative;
  bottom: -15px;
  right: 0px;
  font-size: 13px;
  background-color: $main-color-red;
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
  padding-right: 200px;
  margin-left: -115px;
}

.copyright-home {
  color: #cdb797;
  font-family: "Barlow-Medium";
  position: absolute;
  bottom: 0px;
  right: -220px;
  font-size: 13px;
  background-color: $main-color-red;
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
  padding-right: 200px;
  margin-left: -115px;
}

@media only screen and (max-width: 700px) {
  .copyright-home {
    position: static;
    justify-content: center;
  }

  .copyright-work {
    position: static;
    justify-content: center;
  }
}

@media only screen and (min-width: 1600px) {
  .copyright-home {
    justify-content: center;
    height: 60px;
    font-size: 30px;
  }

  .copyright-work {
    position: static;
    justify-content: center;
  }
}
