@import "../../variables.scss";

@font-face {
  font-family: "BraahOne-Regular";
  src: url(/fonts/BraahOne-Regular.ttf);
}

@font-face {
  font-family: "BraahOne-Medium";
  src: url(/fonts/BraahOne-Medium.ttf);
}

.box {
  background-color: $boxes-background-color;
  border-color: $main-color-red;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.text {
  font-family: "Barlow-Regular";
  font-size: 16px;
  color: $main-color-dark;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h1 {
  font-family: "Barlow-Medium";
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: -20px;
  margin-top: 30px;
  color: $main-color-dark;
}

@media only screen and (max-width: 500px) {
  .box {
    background-color: rgba(255, 253, 229, 0.277);
    border-color: $main-color-red;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    width: 345px;
    align-items: baseline;
  }

  .text {
    font-family: "Barlow-Regular";
    font-size: 15px;
    color: $main-color-dark;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: justify;
  }

  h1 {
    font-family: "Barlow-Medium";
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -10px;
    color: $main-color-dark;
  }
}

// @media only screen and (min-width: 1200px) {
//   .box {
//     background-color: rgba(255, 253, 229, 0.277);
//     border-color: $main-color-red;
//     border-radius: 50px;
//     border-style: solid;
//     border-width: 3px;
//     width: 100%;
//     align-items: baseline;
//   }

//   .text {
//     font-family: "Barlow-Regular";
//     font-size: 20px;
//     color: $main-color-dark;
//     margin: 0;
//     padding-bottom: 25px;
//     padding-top: 25px;
//     padding-left: 25px;
//     padding-right: 25px;
//     display: flex;
//     flex-direction: column;
//     align-items: baseline;
//     text-align: justify;
//   }

//   h1 {
//     font-family: "Barlow-Medium";
//     font-size: 20px;
//     padding-left: 30px;
//     padding-right: 30px;
//     margin-bottom: -10px;
//     color: $main-color-dark;
//   }
// }
