.logo {
    src {
        max-width: 150px;
        max-height: 150px;
        fill: var(--main-color);
    }
}

.logo:hover {
    padding-top: 10px;
    max-width: 200px;
    max-height: 200px;
    transition: 1s
}

.logoBox {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logoText {
    margin-top: 8px;
    font-size: 20px;
    text-decoration: none;
    color: var(--main-color);
    font-family: "Barlow-Medium";
}