@font-face {
  font-family: "BraahOne-Regular";
  src: url(/fonts/BraahOne-Regular.ttf);
}

.introduction {
  color: var(--main-color);
  font-family: "BraahOne-Regular";
  font-size: 40px;
  font-weight: 50;
  margin-top: 5px;
}

.imgTop {
  position: absolute;
  top: -10px;
  left: 180px;
  max-width: 13%;
  max-height: 13%;
}

.imgBottom {
  position: absolute;
  bottom: 250px;
  right: 200px;
  max-width: 13%;
  max-height: 13%;
}

@media only screen and (max-width: 480px) {
  .introduction {
    color: var(--main-color);
    font-family: "BraahOne-Regular";
    font-size: 15px;
    font-weight: 50;
    margin-top: 5px;
  }

  .imgTop {
    position: absolute;
    top: 30px;
    left: 50px;
    max-width: 40px;
    max-height: 40px;
  }

  .imgBottom {
    position: absolute;
    bottom: 100px;
    right: 15px;
    max-width: 40px;
    max-height: 40px;
  }
}
