@import "../../variables.scss";

@font-face {
  font-family: "BraahOne-Regular";
  src: url(/fonts/BraahOne-Regular.ttf);
}

.introduction {
  color: $main-color-dark;
  text-align: left;
  font-family: "BraahOne-Regular";
  font-size: 40px;
  font-weight: 20;
  margin: 0px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-top: 100px;
  margin-left: 40px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.homeLogo {
  width: 600px;
  position: absolute;
  right: 40px;
  bottom: -25px;
}

@media only screen and (max-width: 480px) {
  .introduction {
    color: var(--main-color);
    font-family: "BraahOne-Regular";
    font-size: 25px;
    font-weight: 50;
    margin-top: 5px;
    text-align: center;
  }

  .text {
    width: 350px;
    margin-top: 70px;
  }

  .homeLogo {
    display: none;
  }
}
